<!DOCTYPE html>
<html>
  <head>
    <title>mattsmrke - Web and Application Developer</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="container">
      <a href="/" id="site-brand">mattsmrke</a>
      <ul class="social-icons">
        <li><a class="github" target="_blank" href="https://github.com/smrkem">GitHub</a></li>
        <li><a class="linkedin" target="_blank" href="https://ca.linkedin.com/in/matthew-smrke-55692957">LinkedIn</a></li>
      </ul>
    </header>

    <section class="container">
      <%= yield %>
    </section>
  </body>

  <footer class="container">
    <p>Thanks for visiting.</p>
    <p class="footer-info pull-left">&copy; Matt Smrke <%= Time.current.year %></p>
    <ul class="social-icons pull-right">
      <li><a class="github" target="_blank" href="https://github.com/smrkem">GitHub</a></li>
      <li><a class="linkedin" target="_blank" href="https://ca.linkedin.com/in/matthew-smrke-55692957">LinkedIn</a></li>
    </ul>
  </footer>
</html>
